body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation_total {
  position: absolute;
  top: 270px;
  left: 250px;
  width: 240px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#total_time {
  font-size: 2.5em;
}

#explanation {
  position: absolute;
  top: 220px;
  left: 250px;
  width: 240px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#explanation_lhs {
  float: left;
  width: 120px;
}

#explanation_rhs {
}

#category {
  font-size: 2.5em;
}

#perc_of_parent {
  font-size: 2.5em;
}

#perc_of_total {
  font-size: 2.5em;
}

#timespent {
  font-size: 2.5em;
}

#perday {
  font-size: 2.5em;
}
